* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8; /* A very light gray background for the page */
}

.grid {
    display: grid;
    grid-template-columns: repeat(21, 30px);
    grid-template-rows: repeat(21, 30px);
}

.grid div {
    width: 30px;
    height: 30px;
    background-size: cover; /* Ensures the image covers the entire div */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    image-rendering: crisp-edges; /* Ensures sharp edges for pixel art */
}

#control_bar {
    width: 100%;
    padding: 10px 5px; /* Increased padding slightly */
    background-color: #e0e0e0; /* Slightly darker gray */
    text-align: center; /* Center the buttons */
    border-top: 1px solid #cccccc; /* Thin top border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#control_bar button {
    margin: 0 5px; /* Add some space between buttons */
    padding: 5px 10px;
}

#grid_container {
    width: 630px;
    height: 630px;
    display: flex;
    justify-self: center;
}

#main {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 90%;
}

#settings {
    display: none;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    width: 300px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 100;
}

#world_sizes {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

#noise {
    display: flex;
    flex-direction: column;
}

#settings input {
    width: 35px;
}

table {
    width: 100%;
}